---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="About This Website" description="Information about this website.">
    <h1>About This Website</h1>
    <p>This is a placeholder page for information about this website. Content will be added here in the future.</p>
</PageLayout>
