---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="About Me" description="Information about me.">
    <h1>About Me</h1>
    <p>This is a placeholder page for information about me. Content will be added here in the future.</p>
</PageLayout>
