---
// /src/pages/aboutMe.astro

/**
 * About Me Page
 * This page serves as a placeholder for information about the author. It uses the PageLayout component to provide a consistent layout with a title and description.
 * The content of this page is currently minimal, but it can be expanded in the future to include more detailed information, such as a biography, skills, contact information, or links to social media profiles.
 * The page supports bilingual content for the title and description, allowing for both Chinese and English versions to be displayed based on the user's language preference.
 */

import PageLayout from '../layouts/PageLayout.astro';

const pageTitle = {
    zh: '我是谁',
    en: 'Who Am I',
};

const pageDesc = {
    zh: '在医学与AI边缘反复横跳，努力在北医活下来',
    en: 'A medical student trying to make sense of AI (and of course surviving med school).',
};
---

<PageLayout title={pageTitle} description={pageDesc}>
    <h1>About Me</h1>
    <p>
        This is a placeholder page for information about me. Content will be added here in the
        future.
    </p>
</PageLayout>
