---
import PageLayout from "../layouts/PageLayout.astro"
import BackButton from "../components/BackButton.astro"
---

<PageLayout title="Playlist" description="A collection of my favorite music.">
    <BackButton href="/" />
    <h1>Playlist</h1>
    <p>This is a placeholder page for my Playlist. Content will be added here in the future.</p>
</PageLayout>
