---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="Publications" description="A list of my publications and research works.">
    <h1>Publications</h1>
    <p>This is a placeholder page for my publications. Content will be added here in the future.</p>
</PageLayout>
