---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout title="Thoughs" description="A collection of my personal thoughts and reflections.">
    <h1>Thoughs</h1>
    <p>This is a placeholder page for my Thoughs. Content will be added here in the future.</p>
</PageLayout>
