---
// src/components/Lang.astro

/**
 * Lang
 * This component is responsible for rendering content based on the current language setting.
 * It uses the `data-lang` attribute on the root element to determine which language to display.
 * Bilingual content can be wrapped in this component,
 * and it will show or hide based on the language toggle. Eg:
 * <Lang is="zh">这是中文内容</Lang>
 * <Lang is="en">This is English content</Lang>
 */

interface Props {
    is: 'zh' | 'en';
}
const { is } = Astro.props;
---

<div class={`lang-content lang-${is}`}>
    <slot />
</div>

<style>
    .lang-content {
        display: contents;
    }
</style>
