---
import DefaultLayout from './DefaultLayout.astro';

const { title, description } = Astro.props;
---

<DefaultLayout title={title} description={description}>
  <div>

    {title && (
      <header class="mb-8 border-b border-gray-200 dark:border-gray-700 pb-4">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white">
          {title}
        </h1>
      </header>
    )}

    <main>
      <slot />
    </main>
  </div>
</DefaultLayout>
